<div class="container">
    <a href="https://github.com/logivad/bh/" target="_blank">Исходники здесь</a>
</div>

<div class="container">
    <p>
        Эта страничка нужна для того, чтобы проверить правильно работает подсвечивание кнопок меню при переходах.
    </p>

    <p>
        А ещё для рассуждений об иконке. Я сначала хотел взять иконку "wifi" и повернуть на 45 градусов, но решил
        поиграть с подключением svg иконки (сделал иконку из "wifi": повернул её в Inkskape, пропустил через svgomg).
    </p>

    <p>
        Но я не уверен, что сделал правильно, регистрацию иконки вызвал в App компоненте. Но другого варианта не увидел.
    </p>

</div>
