:host {
    display: block;
}

.title {
    font-weight: 500;
    font-size: 17px;
    margin-top: 26px;
    margin-bottom: 14px;
}

.buttons-wrap {
    margin-left: -7px;
    margin-right: -7px;

    app-helpful-button {
        display: inline-block;
        margin: 7px;
    }
}
