<div class="title">Создайте сообщение</div>
<form [formGroup]="formGroup">
    <app-message-editor
        formControlName="message"
        [maxCount]="600"
    ></app-message-editor>
</form>

<app-helpful-button class="quick-answer">
    <mat-icon>reply</mat-icon>
    Быстрый ответ
</app-helpful-button>

<div class="title">Добавить карточку</div>

<div class="buttons-wrap">
    <app-helpful-button>
        <mat-icon>insert_comment</mat-icon>
        Текст
    </app-helpful-button>

    <app-helpful-button>
        <mat-icon>insert_photo</mat-icon>
        Картинка
    </app-helpful-button>

    <app-helpful-button>
        <mat-icon>attach_file</mat-icon>
        Фал
    </app-helpful-button>

    <app-helpful-button>
        <mat-icon>help</mat-icon>
        Вопрос
    </app-helpful-button>

    <app-helpful-button>
        <mat-icon>ondemand_video</mat-icon>
        Видео
    </app-helpful-button>
</div>
