:host {
    display: block;
}

.buttons-wrap {
    margin-left: -7px;
    margin-right: -7px;

    app-helpful-button {
        display: inline-block;
        margin: 7px;
    }
}

.quick-answer {
    margin: 12px 0;
}
