:host {
    background-color: var(--nav-menu-bg);
    padding: 20px;
}

h1 {
    margin-bottom: 28px;
}

a {
    display: block;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 19px;

    &.active {
        color: var(--link-color);
    }
}
