<div class="container">
    <h1>
        <mat-icon aria-hidden="false" aria-label="icon">send</mat-icon>
        Отправленные
    </h1>

    <p class="text-light">
        Вы находитесь в разделе рассылок. Вы можете ее осуществить по вашей базе пользователей.
    </p>

    <p class="link-list">
        <a href="#">Что такое ручные рассылки</a>
        <a href="#">С чего начать</a>
        <a href="#">Обучающее видео</a>
    </p>

    <a routerLink="../new" mat-flat-button color="primary">Новая рассылка</a>
</div>
