<div class="container">
    <app-messages-header>
        <h1>
            <mat-icon aria-hidden="false" aria-label="icon">send</mat-icon>
            Отправленные
        </h1>

        <p class="text-light">
            Вы находитесь в разделе рассылок. Вы можете ее осуществить по вашей базе пользователей.
        </p>

        <p class="link-list">
            <a href="#">Что такое ручные рассылки</a>
            <a href="#">С чего начать</a>
            <a href="#">Обучающее видео</a>
        </p>

        <div controls>
            <button mat-flat-button><mat-icon>filter_list</mat-icon></button>
            <a routerLink="../new" mat-flat-button color="primary">Новая рассылка</a>
        </div>
    </app-messages-header>
</div>
