<div class="container">
    <app-messages-header>
        <div  class="h1">Новая рассылка</div>
        <div controls>
            <button mat-flat-button>Отмена</button>
            <button mat-flat-button color="primary" (click)="saveAndClose()">Сохранить и закрыть</button>
        </div>
    </app-messages-header>
</div>

<mat-horizontal-stepper #stepper (selectionChange)="selectionChangeHandler($event)">
    <mat-step [stepControl]="firstStep" label="Сообщение">
        <div class="step">
            <app-first-step [formGroup]="firstStep"></app-first-step>
        </div>
    </mat-step>

    <mat-step [stepControl]="secondStep" label="Сегментация">
        <div class="step">
            <app-second-step [formGroup]="secondStep"></app-second-step>
        </div>
    </mat-step>

    <mat-step label="Отправка">
        <div class="step">
            <app-third-step [formGroup]="thirdStep"></app-third-step>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<div class="footer">
    <button
        [disabled]="!canClickPrevButton"
        title="Не стал прятать, чтобы не было сдвига контента и не забыть обсудить"
        mat-button
        color="primary"
        (click)="prevStep()"
    >
        Назад
    </button>

    <button mat-flat-button color="primary" (click)="nextStep()">Далее</button>
</div>
