<a
    class="logo"
    routerLink="/"
>
    <img src="assets/logo.png" alt="Logo">
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">chat</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
</a>

<a
    class="nav-link"
    routerLink="messages"
    routerLinkActive="active"
>
  <mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">adb</mat-icon>
</a>

<a
    class="nav-link"
    routerLink="auto"
    routerLinkActive="active"
>
  <mat-icon svgIcon="feed" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">trending_up</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">autorenew</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">assessment</mat-icon>
</a>

<div class="flex-spacer"></div>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>
</a>

<a class="nav-link">
  <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
</a>

<a class="user">
    A
</a>
