html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --main-nav-bg: #efefef;
    --nav-menu-bg: #f7f7f7;
    --accent-color: #f1453d;
    --text-color: #666;
    --text-light: #888;
    --link-color: #307dfb;
    --link-color-lighter: #d6e5fe;
    --border-color: rgba(0,0,0,.12);
}

.flex-spacer {
    flex-grow: 1;
}

.container {
    padding: 20px 24px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.h1 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}

.text-light {
    color: var(--text-light);
}

.mat-button,
.mat-stroked-button,
.mat-flat-button {
    text-transform: uppercase;
}

.w100p {
    width: 100%;
}
